*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Maven Pro', sans-serif;
    background: #000;
}

.background{
    background: url(/static/login/1.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    z-index:-1;
}

.text, .box{
    margin-top: 45vh;
    flex: 1;
}

.text{
    margin-left: 10%;
    font-weight: 300px;
}

.box{
    margin-left: 25%;
}

.text h1{
    font-size: 70px;
    color: #fff;
    font-weight: 500;
    font-family: 'Bree Serif', serif;
}

.text p{
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    font-family: 'Dancing Script', cursive;
}

.text p a{
    color:white;
    font-weight: 900;
}

.form{
    background: transparent;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 250px;
}

input{
    margin: 20px 0;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    color:white;
    font-family: 'Maven Pro', sans-serif;
}

.username, .password{
    border-bottom: 1px solid #fff;
}

.button{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    border-radius: 40px;
   
}

.button:hover{
    background: #fff;
    color: #000; 
}