<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Donor - Dashboard</title>
	<link href="/static/dashboard/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/dashboard/css/font-awesome.min.css" rel="stylesheet">
	<link href="/static/dashboard/css/datepicker3.css" rel="stylesheet">
	<link href="/static/dashboard/css/styles.css" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>Blood Donor</span></a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="/static/dashboard/images/profile.svg" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">{{request.user}}</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li class="active"><a href="{% url 'donordashboard' %}"><em class="fa fa-dashboard">&nbsp;</em> Home</a></li>
			
			<li><a href="{% url 'donorprofile' %}"><em class="fa fa-power-off">&nbsp;</em> Profile</a></li>
		
			
			<li><a href="{% url 'logout' %}"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Donor</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Dashboard - Donor </h1>
			</div>
		</div><!--/.row-->
		
		<div class="panel panel-container">
			<div class="row">
				<div class="col-xs-6 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-teal panel-widget border-right">
						<div class="panel panel-red panel-widget ">
						<div class="row no-padding">
							<div class="large">{{total_donors}}</div>
							<div class="text-muted">Interested Donor</div>
						</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-teal panel-widget border-right">
						<div class="row no-padding">
							<div class="large">{{total_seekers}}</div>
							<div class="text-muted">Interested Seeker</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-blue panel-widget border-right">
						<div class="row no-padding">
							<div class="large">{{td}}</div>
							<div class="text-muted">Donor user</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-orange panel-widget border-right">
						<div class="row no-padding">
							<div class="large">{{ts}}</div>
							<div class="text-muted">Seeker user</div>
						</div>
					</div>
				</div>
				
			</div><!--/.row-->
		</div>
		
		
		
		<div class="row">
			<div class="col-md-6">
				
				<div class="panel panel-default ">
					<div class="panel-heading">
						Blood Donate Interest form
						
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<form class="form-horizontal" action="" method="POST">
						{% csrf_token %}
							<fieldset>
								<!-- Name input-->
								<div class="form-group">
									<label class="col-md-5 control-label" for="name">Name of Donor</label>
									<div class="col-md-7">
										<input id="name" name="name" type="text" placeholder="name" class="form-control">
									</div>
								</div>
							
								<!-- Email input-->
								<div class="form-group">
									<label class="col-md-5 control-label" for="email">E-mail</label>
									<div class="col-md-7">
										<input id="email" name="email" type="text" placeholder="email" class="form-control">
									</div>
								</div>
								
								<!-- mobile input-->
								<div class="form-group">
									<label class="col-md-5 control-label" for="email">Mobile No.</label>
									<div class="col-md-7">
										<input id="phone" name="phone" type="text" placeholder="mobile no. " class="form-control">
									</div>
								</div>

								<!-- Blood input-->
								<div class="form-group">
									<label class="col-md-5 control-label" for="email">Blood Group</label>
									<div class="col-md-7">
										<input id="blood" name="blood" type="text" placeholder="Blood group" class="form-control">
									</div>
								</div>
								
								<!-- Message body--> 
								<div class="form-group">
									<label class="col-md-5 control-label" for="message">Your message </label>
									<div class="col-md-7">
										<textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
									</div>
								</div>
								
								<!-- Form actions -->
								<div class="form-group">
									<div class="col-md-12 widget-right">
										<button type="submit" class="btn btn-default btn-md pull-right">Submit</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				
				</div>
			{% comment %} --------------------------------- {% endcomment %}
				<div class="panel panel-default ">
					<div class="panel-heading">
						Blood Donate Interest form
						
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<div>
				<h5>CUSTOMERS:</h5>
		
				<div class="card card-body">
					<a class="btn btn-primary  btn-sm btn-block" href="">All NGOs</a>
					<table class="table table-sm">
						<tr>

							<th>NGOs</th>
							<th>Email</th>
							<th>Phone</th>
							<th>Blood</th>
						</tr>

						{% for seek in seeks %}
						<tr>

							<td>{{seek.name}}</td>
							<td>{{seek.email}}</td>
							<td>{{seek.phone}}</td>
							<td>{{seek.blood}}</td>
						</tr>
						{% endfor %}

					</table>
				</div>
			</div>

					</div>
				
				</div>
			
				
			</div><!--/.col-->
			
			
			<div class="col-md-6">
				<div class="panel panel-default ">
					<div class="panel-heading">
						Latest Posts
						
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body articles-container">
						<div class="article border-bottom">
							<div class="col-xs-12">
								<div class="row">
									<div class="col-xs-2 col-md-2 date">
										<div class="large">10</div>
										<div class="text-muted">Sep</div>
									</div>
									<div class="col-xs-10 col-md-10">
										<h4><a href="#">Vinayak Tiwari's Post </a></h4>
										<p>20 boxes of pain killer tablets are available.
											Manufacturing Date : 20 July 2020 
										</p>
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div><!--End .article-->
						
					
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-2 col-md-2 date">
									<div class="large">30</div>
									<div class="text-muted">Aug</div>
								</div>
								<div class="col-xs-10 col-md-10">
									<h4><a href="#">St. Judes NGO's Post</a></h4>
									<p>Hello Vinod Sharma can you provide us with the list of medicines that was posted by on 20th of August</p>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div><!--End .article-->
						<div class="article border-bottom">
							<div class="col-xs-12">
								<div class="row">
									<div class="col-xs-2 col-md-2 date">
										<div class="large">30</div>
										<div class="text-muted">Aug</div>
									</div>
									<div class="col-xs-10 col-md-10">
										<h4><a href="#">St. Judes NGO's Post</a></h4>
										<p>Hello Vinod Sharma can you provide us with the list of medicines that was posted by on 20th of August</p>
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div><!--End .article-->
						
						<div class="article">
							<div class="col-xs-12">
								<div class="row">
									<div class="col-xs-2 col-md-2 date">
										<div class="large">25</div>
										<div class="text-muted">Aug</div>
									</div>
									<div class="col-xs-10 col-md-10">
										<h4><a href="#">Hope NGO's Post </a></h4>
										<p>Hello Vaishnavi Sachaan can you provide us with the list of medicines that you have posted. 
										</p>
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div><!--End .article-->
						<div class="panel-footer">
							<div class="input-group">
								<input id="btn-input" type="text" class="form-control input-md" placeholder="Type your message here..." /><span class="input-group-btn">
									<button class="btn btn-primary btn-md" id="btn-chat">Post</button>
							</span></div>
						</div>
			</div><!--/.col-->
		
				<div class="panel panel-default ">
					<div class="panel-heading">
						Latest Posts
						
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
			<div>
				<h5>LAST 5 ORDERS</h5>
		
				<div class="card card-body">
					<a class="btn btn-primary  btn-sm btn-block" href="">ALL Donors</a>
					<table class="table table-sm">
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th>Phone</th>
							<th>Blood</th>
						</tr>

						{% for don in dons %}
						<tr>
							<td>{{don.name}}</td>
							<td>{{don.email}}</td>
							<td>{{don.phone}}</td>
							<td>{{don.blood}}</td>


						</tr>
						{% endfor %}


					</table>
				</div>
			</div>
			</div><!--/.col-->
		
		</div><!--/.row-->
	</div>	<!--/.main-->
	
	
	<script src="/static/dashboard/js/jquery-1.11.1.min.js"></script>
	<script src="/static/dashboard/js/bootstrap.min.js"></script>
	<script src="/static/dashboard/js/chart.min.js"></script>
	<script src="/static/dashboard/js/chart-data.js"></script>
	<script src="/static/dashboard/js/easypiechart.js"></script>
	<script src="/static/dashboard/js/easypiechart-data.js"></script>
	<script src="/static/dashboard/js/bootstrap-datepicker.js"></script>
	<script src="/static/dashboard/js/custom.js"></script>
	<script>
		window.onload = function () {
	var chart1 = document.getElementById("line-chart").getContext("2d");
	window.myLine = new Chart(chart1).Line(lineChartData, {
	responsive: true,
	scaleLineColor: "rgba(0,0,0,.2)",
	scaleGridLineColor: "rgba(0,0,0,.05)",
	scaleFontColor: "#c5c7cc"
	});
};
	</script>
		
</body>
</html>