<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Donor Profile</title>
    <link href="/static/dashboard/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dashboard/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/dashboard/css/datepicker3.css" rel="stylesheet">
    <link href="/static/dashboard/css/styles.css" rel="stylesheet">

    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span></button>
                <a class="navbar-brand" href="#"><span>Blood Donor</span></a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <div class="profile-sidebar">
            <div class="profile-userpic">
                <img src="/static/dashboard/images/profile.svg" class="img-responsive" alt="">
            </div>
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">{{user.username}}</div>
                <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="divider"></div>

        <ul class="nav menu">
            <li class="active"><a href="{% url 'donorprofile' %}"><em class="fa fa-dashboard">&nbsp;</em> Profile</a>
            </li>
            <li><a href="{% url 'donordashboard' %}"><em class="fa fa-dashboard">&nbsp;</em> Home</a>
            </li>
        </ul>
    </div>
    <!--/.sidebar-->

    <br>
    <div class="row" style="font-size: 20px;">
        <div class="card text-center">
            <div class="card-body pt-3" style="margin-top: 76px;">
                <h2 class="text-danger"><b>PROFILE</b></h2>
              <p class="card-text"><span class="text-primary">Name : </span>{{detail.dname}}</p>
              <p class="card-text"><span class="text-primary">Email : </span>{{detail.email}}</p>
              <p class="card-text"><span class="text-primary">Phone : </span>{{detail.phone}}</p>
              <p class="card-text"><span class="text-primary">Address : </span>{{detail.address}}</p>
              <p class="card-text"><span class="text-primary">City : </span>{{detail.city}}</p>
              <p class="card-text"><span class="text-primary">Description : </span>{{detail.desc}}</p>
            </div>
          </div>
    </div>





    </div>
    <!--/.main-->

    <script src="/static/dashboard/js/jquery-1.11.1.min.js"></script>
    <script src="/static/dashboard/js/bootstrap.min.js"></script>
    <script src="/static/dashboard/js/chart.min.js"></script>
    <script src="/static/dashboard/js/chart-data.js"></script>
    <script src="/static/dashboard/js/easypiechart.js"></script>
    <script src="/static/dashboard/js/easypiechart-data.js"></script>
    <script src="/static/dashboard/js/bootstrap-datepicker.js"></script>
    <script src="/static/dashboard/js/custom.js"></script>
    <script>
        window.onload = function () {
            var chart1 = document.getElementById("line-chart").getContext("2d");
            window.myLine = new Chart(chart1).Line(lineChartData, {
                responsive: true,
                scaleLineColor: "rgba(0,0,0,.2)",
                scaleGridLineColor: "rgba(0,0,0,.05)",
                scaleFontColor: "#c5c7cc"
            });
        };
    </script>

</body>

</html>
