{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/news/style.css">
{% endblock head %}
{% block title %}News{% endblock title %}
{% block body %}
<header class="continer-fluid ">
            <div id="menu-jk" class="header-bottom" style="font-size: 22px;height: 82px;">
                <div class="container">
                    <div class="row nav-row">
                        <div class="col-md-3 logo">
                            <!-- <img src="static/assets/images/logo.jpg" alt=""> -->
                            <img src="static/assets/images/logo.png" alt="">
                        </div>
                        <div class="col-md-9 nav-col">
                            <nav class="navbar navbar-expand-lg navbar-light">

                                <button
                                    class="navbar-toggler"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#navbarNav"
                                    aria-controls="navbarNav"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNav">
                                    <ul class="navbar-nav">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="/">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'about' %}">About Us</a>
                                        </li>
                                       
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'news' %}">News</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'contact' %}">Contact US</a>
                                        </li>
                                        <a class="btn btn-primary btn-lg" href="/login" role="button" style="height: 54px;font-size: 21px; margin-top: 6px; width: 80px">Login</a>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
<div class="container-fluid ">
            <div class="row ">
                <!-- to get the space form left and right -->
                <div class="col-xl-10  col-lg-10 col-md-12 col-11 mx-auto my-5">
                    <div class="row gx-5 mx-sm-auto">
                        <!-- left side of the blog  -->
                        <div class="col-lg-8 col-md-11 col-11 mx-auto">
                            <div class="row gy-5 ">
                                <div class="col-12 card p-4 shadow blog_left__div">
                                    <div class="d-flex justify-content-center align-items-center flex-column pt-3 pb-5 ">
                                        <h1 class="text-uppercase">Top News in 2020</h1>
                                        <p class="blog_title"> <span class="font-weight-bold"> Title description, </span> Aug 12, 2020 </p>
                                    </div>
                                    <figure class="right_side_img mb-5">
                                        <img src="/static/gallery/img/5.jpg" class="img-fluid shadow">
                                    </figure>
                                    <p><span class="font-weight-bold">username</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae dolorum ipsam architecto, iusto, fuga nesciunt autem, molestias beatae explicabo ducimus itaque dolorem. Debitis at recusandae esse expedita ratione sint sed repellat neque. Voluptatum cumque minima optio, consequatur autem enim aut eius vel saepe totam molestiae quidem, natus iste illum dolorem deleniti consectetur inventore. Error culpa expedita quis ullam incidunt quia omnis dolorum voluptate aliquid velit magni sed, facere ut recusandae quod veritatis animi voluptatibus illum labore doloribus? Repellendus repellat culpa ducimus deleniti, exercitationem, aperiam itaque dignissimos eum ipsa pariatur rem libero fugiat quas ea corrupti ratione in? Recusandae, dignissimos ullam?</p>
                                    <p>
                                        Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                                    </p>
                                    <div class="d-flex justify-content-between left_div_btns">
                                        <div>
                                            <button class="left_div__like" id="like_btn"><i class="fa fa-thumbs-up"></i>Like</button>
                                        </div>
                                        <div>
                                            <button class="left_div__reply" onclick="reply('reply1')">Replies <badge class="bg-white text-dark p-2">1</badge></button>
                                        </div>
                                    </div>
                                    <div class="replies" id="reply1">
                                        <div class="d-flex justify-content-start flex-row align-items-center card reply_card py-3 ">
                                            <div class=" reply_img mx-2 align-self-center ">
                                                <img src="https://img.icons8.com/doodle/48/000000/user-male-skin-type-5.png" />
                                            </div>
                                            <div class="reply_text__left">
                                                <p class="blog_title "> <span class="font-weight-bold"> Kasturi</span> Aug 12, 2020, 7:20 PM </p>
                                                <p>Awesome, Bro I love your content.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 2nd topic  -->
                                <div class="col-12 card p-4 shadow blog_left__div">
                                    <div class="d-flex justify-content-center align-items-center flex-column pt-3 pb-5 ">
                                        <h1 class="text-uppercase">Title Heading</h1>
                                        <p class="blog_title"> <span class="font-weight-bold"> Title description, </span> Aug 12, 2020 </p>
                                    </div>
                                    <figure class="right_side_img mb-5">
                                        <img src="https://images.pexels.com/photos/4050291/pexels-photo-4050291.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" class="img-fluid shadow">
                                    </figure>
                                    <p><span class="font-weight-bold">username</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi est laboriosam quidem exercitationem autem iusto minus ullam dicta sit assumenda animi accusamus illo nostrum quibusdam illum nihil, quod aliquam quaerat tenetur atque repudiandae provident alias vel. Odit, numquam facilis. Quisquam perferendis voluptas nisi repellat quidem perspiciatis modi aspernatur! Vero dignissimos eum maiores ex animi pariatur? Voluptate neque repellat ea sapiente necessitatibus iusto officiis inventore provident ducimus fugit doloremque odit eligendi unde qui laboriosam voluptatibus, amet exercitationem cumque modi sint omnis veniam a deleniti? Magnam repellendus quibusdam aperiam facere beatae nobis, modi consectetur tempora expedita perspiciatis impedit, eum earum esse minus.</p>
                                    <p>
                                        Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                                    </p>
                                    <div class="d-flex justify-content-between left_div_btns">
                                        <div>
                                            <button class="left_div__like" id="like_btn"><i class="fa fa-thumbs-up"></i>Like</button>
                                        </div>
                                        <div>
                                            <button class="left_div__reply" onclick="reply('reply2')">Replies <badge class="bg-white text-dark p-2">2</badge></button>
                                        </div>
                                    </div>
                                    <div class="replies" id="reply2">
                                        <div class="d-flex justify-content-start flex-row align-items-center card reply_card py-3 ">
                                            <div class=" reply_img mx-2 align-self-center ">
                                                <img src="https://img.icons8.com/doodle/48/000000/user-male-skin-type-5.png" />
                                            </div>
                                            <div class="reply_text__left">
                                                <p class="blog_title "> <span class="font-weight-bold"> Vinod, </span> Aug 11, 2020, 7:20 PM </p>
                                                <p>I really like the way you teach. Subscribed :)</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start flex-row align-items-center card reply_card py-3 ">
                                            <div class=" reply_img mx-2 align-self-center ">
                                                <img src="https://img.icons8.com/doodle/48/000000/user-male-skin-type-5.png" />
                                            </div>
                                            <div class="reply_text__left">
                                                <p class="blog_title "> <span class="font-weight-bold"> Thapa, </span> Aug 12, 2020, 7:20 PM </p>
                                                <p>Awesome, Bro I love your content.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 3rd topic -->
                                <div class="col-12 card p-4 shadow blog_left__div">
                                    <div class="d-flex justify-content-center align-items-center flex-column pt-3 pb-5 ">
                                        <h1 class="text-uppercase">Title Heading</h1>
                                        <p class="blog_title"> <span class="font-weight-bold"> Title description, </span> Aug 12, 2020 </p>
                                    </div>
                                    <figure class="right_side_img mb-5">
                                        <img src="https://images.pexels.com/photos/4050303/pexels-photo-4050303.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="img-fluid shadow">
                                    </figure>
                                    <p><span class="font-weight-bold">username</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quidem vitae inventore natus neque. Esse perspiciatis voluptatum ipsam pariatur, amet ducimus consequuntur eius recusandae velit soluta, eum nulla voluptas repellendus? Debitis dicta asperiores quia? Expedita dolorum vel accusantium, voluptatibus quas pariatur, unde quis reiciendis totam provident sequi tenetur porro repudiandae nam. Perspiciatis totam earum nisi sequi porro repudiandae fugit, soluta reprehenderit rerum? Accusamus error, cum officiis deleniti accusantium doloremque ipsa natus, quaerat necessitatibus quos repellendus architecto reiciendis id pariatur harum expedita dolorem fuga tempore maxime odit quisquam minima quo? Molestias praesentium eius necessitatibus a temporibus et eligendi placeat repellat vitae.</p>
                                    <p>
                                        Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                                    </p>
                                    <div class="d-flex justify-content-between left_div_btns">
                                        <div>
                                            <button class="left_div__like" id="like_btn"><i class="fa fa-thumbs-up"></i>Like</button>
                                        </div>
                                        <div>
                                            <button class="left_div__reply" onclick="reply('reply3')">Replies <badge class="bg-white text-dark p-2">4</badge></button>
                                        </div>
                                    </div>
                                    <div class="replies" id="reply3">
                                        <div class="d-flex justify-content-start flex-row align-items-center card reply_card py-3 ">
                                            <div class=" reply_img mx-2 align-self-center ">
                                                <img src="https://img.icons8.com/doodle/48/000000/user-male-skin-type-5.png" />
                                            </div>
                                            <div class="reply_text__left">
                                                <p class="blog_title "> <span class="font-weight-bold"> Kasturi </span> Aug 12, 2020, 7:20 PM </p>
                                                <p>Awesome, Bro I love your content.</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start flex-row align-items-center card reply_card py-3 ">
                                            <div class=" reply_img mx-2 align-self-center ">
                                                <img src="https://img.icons8.com/doodle/48/000000/user-male-skin-type-5.png" />
                                            </div>
                                            <div class="reply_text__left">
                                                <p class="blog_title "> <span class="font-weight-bold"> Kasturi </span> Aug 12, 2020, 7:20 PM </p>
                                                <p>Awesome, Bro I love your content.</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start flex-row align-items-center card reply_card py-3 ">
                                            <div class=" reply_img mx-2 align-self-center ">
                                                <img src="https://img.icons8.com/doodle/48/000000/user-male-skin-type-5.png" />
                                            </div>
                                            <div class="reply_text__left">
                                                <p class="blog_title "> <span class="font-weight-bold"> vinod, </span> Aug 12, 2020, 7:20 PM </p>
                                                <p>Awesome, Bro I love your content.</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start flex-row align-items-center card reply_card py-3 ">
                                            <div class=" reply_img mx-2 align-self-center ">
                                                <img src="https://img.icons8.com/doodle/48/000000/user-male-skin-type-5.png" />
                                            </div>
                                            <div class="reply_text__left">
                                                <p class="blog_title "> <span class="font-weight-bold"> Kasturi </span> Aug 12, 2020, 7:20 PM </p>
                                                <p>Awesome, Bro I love your content.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  *******************************************************
            **********************************************************.
            right side of the div
            *******************************************************
            **********************************************************
            -->
                        <div class="col-lg-3 col-md-7 col-11  justify-content-end m-lg-0 m-auto ">
                            <div class="row gy-5 left_div__blog">
                                <!-- about me -->
                                <div class="col-12  about_me_div shadow">
                                    <p>Kasturi Sinha Ray</p>
                                    <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
                                </div>
                                
                                
                                <!-- Inspiration -->
                                <div class=" right_div_post">
                                    <div class="right_div__title py-4 pl-2 ">
                                        <h2>Inspiration</h2>
                                    </div>
                                    <div class="right_sub__div">
                                        <div class="row gx-3">
                                            <div class="col-6">
                                                <figure>
                                                    <img src="/static/gallery/img/5.jpg" class="img-fluid shadow">
                                                </figure>
                                            </div>
                                            <div class="col-6">
                                                <figure>
                                                    <img src="/static/gallery/img/5.jpg" class="img-fluid shadow">
                                                </figure>
                                            </div>
                                            <div class="col-6">
                                                <figure>
                                                    <img src="/static/gallery/img/5.jpg" class="img-fluid shadow">
                                                </figure>
                                            </div>
                                            <div class="col-6">
                                                <figure>
                                                    <img src="https://images.pexels.com/photos/196659/pexels-photo-196659.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" class="img-fluid shadow">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Follow Me -->
                                <div class=" right_div_post">
                                    <div class="right_div__title py-4 pl-2 ">
                                        <h2>Follow Me</h2>
                                    </div>
                                    <div class="right_sub__div d-flex justify-content-around">
                                        <a href="#"> <i class="fab fa-facebook-square fa-3x"></i></a>
                                        <a href="https://www.instagram.com/vinodthapa55/" target="_thapa"> <i class="fab fa-3x fa-instagram"></i></a>
                                        <a href="#"> <i class="fab fa-3x fa-github-square"></i> </a>
                                        <a href="#"> <i class="fab fa-3x fa-twitter-square"></i></a>
                                        <a href="#"> <i class="fab fa-3x fa-youtube-square"></i> </a>
                                        <a href="#"> <i class="fab fa-3x fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <!-- Subscribe -->
                                <div class=" right_div_post">
                                    <div class="right_div__title py-4 pl-2 ">
                                        <h2>Subscribe</h2>
                                    </div>
                                    <div class="right_sub__div">
                                        <form>
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1" class="form-label">Enter your e-mail below and get notified on the latest blog posts.</label>
                                                <input type="email" class="form-control mt-2" id="exampleFormControlInput1" placeholder="name@example.com">
                                            </div>
                                            <div class="col-12">
                                                <button class="subs_btn d-block" type="submit">Subscribe</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock body %}