{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/news/style.css">
{% endblock head %}
{% block title %}News{% endblock title %}
{% block body %}
<header class="continer-fluid ">
            <div id="menu-jk" class="header-bottom" style="font-size: 22px;height: 82px;">
                <div class="container">
                    <div class="row nav-row">
                        <div class="col-md-3 logo">
                            {% comment %} <img src="static/assets/images/logo.jpg" alt=""> {% endcomment %}
                            <img src="static/assets/images/logo.png" alt="">
                        </div>
                        <div class="col-md-9 nav-col">
                            <nav class="navbar navbar-expand-lg navbar-light">

                                <button
                                    class="navbar-toggler"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#navbarNav"
                                    aria-controls="navbarNav"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNav">
                                    <ul class="navbar-nav">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="/">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'about' %}">About Us</a>
                                        </li>
                                       
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'news' %}">News</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'contact' %}">Contact US</a>
                                        </li>
                                        <a class="btn btn-primary btn-lg" href="/login" role="button" style="height: 54px;font-size: 21px; margin-top: 6px; width: 80px">Login</a>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
<div class="container-fluid ">
            <div class="row ">
                <!-- to get the space form left and right -->
                <div class="col-xl-10  col-lg-10 col-md-12 col-11 mx-auto my-5">
                    <div class="row gx-5 mx-sm-auto">
                        <!-- left side of the blog  -->
                        <div class="col-lg-8 col-md-11 col-11 mx-auto">
                            <div class="row gy-5 ">
                                <div class="col-12 card p-4 shadow blog_left__div">
                                    <div class="d-flex justify-content-center align-items-center flex-column pt-3 pb-5 ">
                                        <h1 class="text-uppercase">Top News in 2020</h1>
                                        <p class="blog_title"> <span class="font-weight-bold"> Title description, </span> Aug 12, 2020 </p>
                                    </div>
                                    <figure class="right_side_img mb-5">
                                        <img src="/static/gallery/img/5.jpg" class="img-fluid shadow">
                                    </figure>
                                    <p><span class="font-weight-bold"></span> Blood banks across India are running dry as the Covid lockdown has hindered the ‘donation drives’ conducted by these institutions regularly. There has been a near-80% drop in collection over the past two weeks, say experts at leading blood banks.</p>
                                    <p>
                                        On normal days, leading blood banks such as the Indian Red Cross Society, Rotary Blood Bank and Lions Blood Bank collect 150 to 250 units of blood from voluntary donors at each of the collection /storage facilities spread across the country. Post the lockdown, these figures have dropped to 30 – 40 units per facility. The situation has put hemophilia and thalassemia patients at grave risk.
                                    </p>
                                    <div class="d-flex justify-content-between left_div_btns">
                                        <div>
                                            <button class="left_div__like" id="like_btn"><i class="fa fa-thumbs-up"></i>Like</button>
                                        </div>
                                        <div>
                                            <button class="left_div__reply" onclick="reply('reply1')">Replies <badge class="bg-white text-dark p-2">1</badge></button>
                                        </div>
                                    </div>
                                    <div class="replies" id="reply1">
                                        <div class="d-flex justify-content-start flex-row align-items-center card reply_card py-3 ">
                                            <div class=" reply_img mx-2 align-self-center ">
                                                <img src="https://img.icons8.com/doodle/48/000000/user-male-skin-type-5.png" />
                                            </div>
                                            <div class="reply_text__left">
                                                <p class="blog_title "> <span class="font-weight-bold"> Kasturi</span> Aug 12, 2020, 7:20 PM </p>
                                                <p>Awesome, Bro I love your content.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
            -->
                        <div class="col-lg-3 col-md-7 col-11  justify-content-end m-lg-0 m-auto ">
                            <div class="row gy-5 left_div__blog">
                               
                                
                                
                                <!-- Inspiration -->
                                <div class=" right_div_post">
                                    <div class="right_div__title py-4 pl-2 ">
                                        <h2>Inspiration</h2>
                                    </div>
                                    <div class="right_sub__div">
                                        <div class="row gx-3">
                                            <div class="col-6">
                                                <figure>
                                                    <img src="/static/gallery/img/5.jpg" class="img-fluid shadow">
                                                </figure>
                                            </div>
                                            <div class="col-6">
                                                <figure>
                                                    <img src="/static/gallery/img/5.jpg" class="img-fluid shadow">
                                                </figure>
                                            </div>
                                            <div class="col-6">
                                                <figure>
                                                    <img src="/static/gallery/img/5.jpg" class="img-fluid shadow">
                                                </figure>
                                            </div>
                                            <div class="col-6">
                                                <figure>
                                                    <img src="https://images.pexels.com/photos/196659/pexels-photo-196659.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" class="img-fluid shadow">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock body %}
