<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NGO - Dashboard</title>
	<link href="/static/dashboard/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/dashboard/css/font-awesome.min.css" rel="stylesheet">
	<link href="/static/dashboard/css/datepicker3.css" rel="stylesheet">
	<link href="/static/dashboard/css/styles.css" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>Blood Seeker</span></a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="/static/dashboard/images/building_pic.svg" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">{{user.username}}</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li class="active"><a href="{% url 'seekerdetails' %}"><em class="fa fa-dashboard">&nbsp;</em> Account</a></li>
			<li><a href="{% url 'seekerdashboard' %}"><em class="fa fa-dashboard">&nbsp;</em> Home</a></li>
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Seeker</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Seeker Account </h1>
			</div>
		</div><!--/.row-->
        <hr>
		
	<div class="main-container container-fluid my-4">
  <div class="row">
    <div class="col-lg-12 offset-lg-2">

      <!-- THE CONTACT FORM IS HERE -->
      <form action="" method='POST'>
      {% csrf_token %}
        <div class="form-group">
          <label for="name">Your Name</label>
          <input type="text" class="form-control" id="dname" placeholder="Enter your Name" name="dname">
        </div>
        <div class="form-group">
          <label for="email">Your Email</label>
          <input type="email" class="form-control" id="email" placeholder="Enter your Email" name="email">
        </div>
        <div class="form-group">
          <label for="phone">Your Phone Number</label>
          <input type="text" class="form-control" id="phone" placeholder="Enter your Phone Number" name="phone">
        </div>
        <div class="form-group">
          <label for="address">Your Address</label>
          <input type="text" class="form-control" id="address" placeholder="Enter your address" name="address">
        </div>
        <div class="form-group">
          <label for="city">Your City</label>
          <input type="text" class="form-control" id="city" placeholder="Enter your city" name="city">
        </div>
        <div class="form-group">
          <label for="description">Describe about yourself</label>
          <textarea type="text" class="form-control" id="message" placeholder="Your message" name="message"></textarea>
        </div>
        <div class="g-recaptcha" data-sitekey="6LdvcqwUAAAAACmPYNVoiJA7D84xLSQQt5g9p10m"></div>

        <button type="submit" class="btn btn-danger mt-2">Submit</button>
      </form>

    </div>
    <hr>
  </div>
</div>

		
	</div>	<!--/.main-->
	
	<script src="/static/dashboard/js/jquery-1.11.1.min.js"></script>
	<script src="/static/dashboard/js/bootstrap.min.js"></script>
	<script src="/static/dashboard/js/chart.min.js"></script>
	<script src="/static/dashboard/js/chart-data.js"></script>
	<script src="/static/dashboard/js/easypiechart.js"></script>
	<script src="/static/dashboard/js/easypiechart-data.js"></script>
	<script src="/static/dashboard/js/bootstrap-datepicker.js"></script>
	<script src="/static/dashboard/js/custom.js"></script>
	<script>
		window.onload = function () {
	var chart1 = document.getElementById("line-chart").getContext("2d");
	window.myLine = new Chart(chart1).Line(lineChartData, {
	responsive: true,
	scaleLineColor: "rgba(0,0,0,.2)",
	scaleGridLineColor: "rgba(0,0,0,.05)",
	scaleFontColor: "#c5c7cc"
	});
};
	</script>
		
</body>
</html>
